.wrapper {

}


.taskContent {
  display: flex;
  justify-content: space-between;
}

.task {
  margin-left: 14px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.moreDescToggleButton {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

.moreDescription {
  margin-top: 7px;
}


.skeleton {

}
