.wrapper {
}

.tabsList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--inverted-primary-bg-color);
  border-radius: var(--border-radius);
  padding: var(--padding-primary);
  gap: 7px;

  width: fit-content;

}

.tabContent {
margin: 0;
}