.wrapper {
    padding: var(--padding-primary);
}

.border {
    border: var(--border);
    border-radius: var(--border-radius);
}

.list {
    margin-top: 14px;
    margin-left: 14px;

    //overflow-y: scroll;
    scroll-behavior: smooth;
    gap: 14px;
    height: 200px;
}

.input {
    width: 100%;
    padding: var(--padding-secondary);

    &:focus {
        background-color: var(--inverted-primary-bg-color);
    }
}

.body {
    padding: var(--padding-primary);
}

.listHeader {
    padding: 15px;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-m);
}
