.wrapper {
    padding: var(--padding-primary);
}

.border {
    border: var(--border);
    border-radius: var(--border-radius);
}

.list {
    margin-top: 14px;
    margin-left: 14px;
    gap: 14px;
    overflow: auto;
}

.listOverflow {
    height: 280px;
    overflow-y: auto;

}

.body {
    padding: var(--padding-primary);
}

.listHeader {
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 14px;

    .input {
        flex-grow: 1;
        &:focus {
            background-color: var(--inverted-primary-bg-color);
        }
    }
}

.item {
    margin-bottom:  7px;
}
