.tagsRow {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    background: var(--bg-color);
    list-style: none;
}

.item {
    width: fit-content;
    align-items: center;
    border-radius: var(--border-radius);
    padding: 7px;
    height: 2em;
    background: var(--primary-bg-color);
    display: flex;

    &:last-child {
        display: flex;
        flex-direction: row;
    }
}

.tagInput {
    width: 90px;
    border-radius: 3px 0 0 3px;
}

.submitAddBtn {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
