.section {
    background: var(--inverted-primary-bg-color);
    border-radius: var(--border-radius);
    padding: var(--padding-secondary);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.close {
    border: none;
}

.titleInput {
    height: 36px;
    width: 100%;
    margin-bottom: 14px;
}

.descriptionInput {
    width: 100%;
    height: 72px;
    margin-bottom: 48px;
}

.list {
    width: 50%;
}

.subtasks {

}

.other {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 7px;
    align-items: center;
    margin-left: 7px;
    margin-bottom: 48px;
}