.section {
    background: var(--inverted-primary-bg-color);
    border-radius: var(--border-radius);
    padding: 28px;
    width: 600px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.close {
    border: none;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 14px;
}

.titleInput {
    line-height: 21px;
}

.descriptionInput{
    line-height: 72px;
    align-content: flex-start;
}

.chipsRow {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 82px;
}

.editButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 14px;

    .applyBtn {
        background-color: #ffbd71;
        flex-grow: 1;
    }

    .revertButton {
        background-color: var(--inverted-primary-color);
        flex-grow: 1;
    }
}


.label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}

