.section {
    background: var(--inverted-primary-bg-color);
    border-radius: var(--border-radius);
    padding: var(--padding-secondary);

    width: 400px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.close {
    border: none;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 14px;
}

.titleInput {
    height: 36px;
}

.descriptionInput {
    height: 72px;
}

.list {
}

.subtasks {

}

.other {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-row-gap: 7px;
    align-items: center;
    margin-left: 7px;
    margin-bottom: 48px;
}

.tags {

}