.btn {
    display: inline-block;
    border: none;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-m);
    padding: 0.5em 1.4em;
    border-radius: var(--border-radius);
    background: var(--bg-color);
    color: var(--primary-color);

    &:hover {
        background-color: var(--border-color);
        transition: var(--bg-transition);
    }
}

.active {
    background: var(--inverted-border-color);
    font-weight: var(--font-weight-xl);
    color: var(--primary-color);
}