.section {
    display: inline-block;
    background: var(--inverted-primary-bg-color);
    border-radius: var(--border-radius);
    padding: 14px 28px;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-shadow: var(--box-shadow);
    min-width: 350px;
    max-width: 350px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.close {
    border: none;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 14px;
}

.titleInput {
    line-height: 21px;
}

.descriptionInput{
    line-height: 72px;
    align-content: flex-start;
}

.chipsRow {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 82px;
}

.date {
    margin-bottom: 14px;
    width: 100px;
}

.subtasks {
    background: var(--primary-bg-color);
    padding: var(--padding-secondary);
    border-radius: var(--border-radius);
    margin-bottom: 14px;
}

.label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}

.editButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 14px;
    width: 100%;

    .applyBtn {
        background-color: #ffbd71;
        flex-grow: 1;
    }

    .revertButton {
        background-color: var(--inverted-primary-color);
        flex-grow: 1;
    }
}

.footer {
    position: absolute;
    bottom: 14px;
}

