.section {
    display: flex;
    flex-direction: row;
    gap: 14px;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 14px;
    height: 100%;
}

.details {
    flex-grow: 1;
}

.taskList {
    flex-grow: 3;
}