.section {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.overlay {
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.editForm {
}

.details {
    flex-grow: 1;
}

.taskList {
    flex-grow: 3;
}