.app.dark {
    --bg-color: #f10000;
    --inverted-primary-bg-color: rgba(76, 0, 139, 0.59);
    --primary-color: #39b3ff;
    --border-color: rgba(84, 19, 114, 0.47);
    --inverted-primary-color: #1c1c1c;
    --inverted-border-color: rgba(0, 139, 139, 0.59);
}
