.app.dark {
    --bg-color: #151515;
    --secondary-bg-color: #000000;

    --primary-color: #ffffff;
    --secondary-color: #81b29a;

    --inverted-primary-color: #1c1c1c;
    --inverted-secondary-color: #d2d2d2;
}
