:root {
    --primary-bg-color: #ffffff;
    --secondary-bg-color: rgb(244, 244, 244);

    --primary-color: #3a3a3a;
    --secondary-color: #81b29a;

    --inverted-primary-color: #000000;
    --inverted-secondary-color: #e5e5e5;
}
