:root {
    --primary-bg-color: #ffffff;
    --inverted-primary-bg-color: rgb(241, 241, 241);

    //--secondary-bg-color: #c2c2c2;
    //--inverted-secondary-bg-color: rgb(148, 148, 148);

    --primary-color: #000000;
    --inverted-primary-color: #ffffff;

    --secondary-color: #e8e8e8;
    --inverted-secondary-color: #ffffff;
}
