:root {
    --primary-bg-color: #fff;
    --inverted-primary-bg-color: rgb(241 241 241);
    --primary-color: #000;
    --inverted-primary-color: #fff;
    --secondary-color: #e1e1e1;
    --inverted-secondary-color: #fff;
}
