@import "reset";
@import "variables/global";
@import "themes/normal-green";
@import "themes/dark-green";

.app {
    font: var(--font-m);

    background: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;
}

.content-page {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-column-gap: 30px;

    padding: 30px;
}
