.MainLayout {
    display: grid;
    grid-template-areas:
            'sidebar content rightbar';
    grid-template-columns: min-content 1fr ;
    padding: 32px;
}

.sidebar {
    grid-area: sidebar;
    position: sticky;
    top: 0;
}

.overlay {
    grid-area: content;
    margin-left: 14px;
}



