.linkWrapper {
  padding: 5px 10px 10px 0;
  border-radius: var(--border-radius);
  display: flex;
  text-decoration: none;

  &:hover {
    background-color: var(--secondary-color);

  }
}

.icon {
  padding: 0 5px;
  width: 15px;
  height: 15px;
}

.text {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  color: var(--primary-color);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-secondary);

  &:hover {
    opacity: 0.8;
    color: var(--inverted-primary-color);

  }
}


