.wrapper {
    position: relative;
}

.weekDays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 7px;
    height: 40px;
}

.gridWrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 7px;
    height: 100%;
}

.columnDay {
    height: 600px;
}

.monthHeader {
    position: absolute;
    right: 0;
    top: -50px;
    display: flex;
    gap: 14px;
}
