.wrapper {
    display: flex;
    max-width: 85%;
    margin-bottom: 30px;
    background: #fffefe;
    border-radius: 10px;
    filter: drop-shadow(0px 20px 40px rgba(135, 124, 202, 0.15));
}

.container {
    display: flex;
    gap: 20px;
}

.avatar {
    width: 500px;
    min-height: 300px;
    background-color: #ccc;
    border-radius: 5px;
    margin: 8px;
    background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
    background-size: 600px;
    animation: shine-avatar 1.6s infinite linear;
}

.typography-block {
    width: 50%;
}

.line-small {
    width: 100px;
    height: 16px;
    margin-top: 12px;
    border-radius: 7px;
    background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
    background-size: 600px;
    animation: shine-lines 1.6s infinite linear;
}

.line-long {
    width: 300px;
    height: 16px;
    margin-top: 12px;
    border-radius: 7px;
    background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
    background-size: 600px;
    animation: shine-lines 1.6s infinite linear;
}