.dropdown {
    position: relative;
    height: 100%;
}

.list {
    position: absolute;
    top: 30px;
    left: 0;
    min-width: 246px;
    display: inline-block;
    list-style: none;
    text-align: left;
    z-index: 2;
    margin-left: 7px;
    background-color: var(--inverted-primary-color);
    border-radius: var(--border-radius);
}

.listItem {
    display: flex;
    width: 100%;
    padding: var(--padding-primary);

    &:hover {
        background: #f8f8f8;
    }

    &:first-child {
        border-radius: 10px 10px 0 0;
    }

    &:last-child {
        margin-bottom: 0;
        border-radius: 0 0 10px 10px;
    }
}