:root {
    --font-family-main: Consolas, 'FreeMono', Serif;

    --font-size-m: 14px;
    --font-line-m: 14px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 18px;
    --font-line-l: 18px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-size-xl: 32px;
    --font-line-xl: 32px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    --font-weight-primary: 800;
    --font-weight-secondary: 400;

    //размеры

    --page-width: 1100px;
    --page-height: 900px;
    --border-radius: 7px;
    --border: 1px solid #e8e8e8;
    --padding-primary: 7px;
    --padding-secondary: 14px;

    --navbar-height: 50px;
    --sidebar-width: 400px;
    --sidebar-height: 900px;
    --sidebar-width-collapsed: 80px;

}
