.wrapper {
    margin-top: 50px;
}

.gridWrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 7px;
    position: relative;
    height: 100%;
}

.columnDay {
    width: 100%;
}
