.wrapper {
    display: flex;
    flex-direction: row;
}

.button {
    flex-grow: 5;
    border-radius: 7px 0 0 7px ;
    border-right: none;
}

.input {
    border-radius: 0 7px 7px 0;
    border-left: none;
    flex-grow: 100;
}