.wrapper {
    display: flex;
    flex-direction: row;
}

.button {
    border-radius: 7px 0 0 7px ;
    border-right: none;
    width: 40px;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-l);
}

.input {
    border-radius: 0 7px 7px 0;
    border-left: none;
    width: -webkit-fill-available;
}