
//.section {
//  display: grid;
//}
//
//.content {
//  display: grid;
//  grid-template-columns: 2fr 1fr;
//  grid-column-gap: 14px;
//}

//.detailsActive {
//  grid-template-columns: 1fr;
//}

.section {
}

.content {
    display: flex;
    flex-direction: row;
    gap: 14px;
    height: 100%;
}

.details {
    flex-grow: 1;
}

.item {
    margin-bottom: 14px;
    border-bottom: 1px solid var(--inverted-primary-bg-color);

}

.lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 14px;
    grid-auto-rows: minmax(300px, auto);
    flex-grow: 4;
}

.bigList {
    grid-column: 1/3;
}
