.wrapper {
    --margin-input-left: 14px;

    list-style-type: none;

}

.taskContent {
    display: flex;
    flex-direction: column;
    border: var(--border-radius);
    padding: 7px;

    &:hover {
        background: var(--inverted-primary-bg-color);

        .moreDescToggleButton {
            background: var(--inverted-primary-color);
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
}

.task {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.moreDescToggleButton {
    border: none;
    background: none;
    border-radius: var(--border-radius);
    padding: var(--padding-primary);
    width: 32px;

    &:hover {
        background: var(--inverted-primary-color);
    }
}
input[type="checkbox"] {
    width: 14px;
    height: 14px;
}

.task {
    display: flex;
    justify-content: space-between;
}

.title {
    margin-left: 7px;
}

.checkbox {
    background: none;
}


.more {
    margin: 14px 0 0 21px;

}

