
.text {
    margin-left: 14px;
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    align-items: center;
}

.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    padding: 3px;
    background: var(--border-color);
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--primary-color);
}

.link {
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    font-weight: var(--font-weight-m);
    font-size: var(--font-size-l);

    &:hover {
        .text {
            opacity: 0.7;
        }
    }
}

.active {
    background: var(--border-color);
    font-weight: var(--font-weight-xl);
    box-shadow: var(--box-shadow);
    transition: var(--bg-transition);

    .notification {
        background: var(--inverted-border-color);
        transition: var(--bg-transition);

    }
}

.icon {
    padding: 0 5px;
    width: 21px;
    height: 21px;
}



