.wrapper {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: row;
    min-width: 350px;
    align-items: center;

    padding: 0 10px;
    gap: 10px;
}

.slider {

}